body
{
    background-color: #cccccc;
    margin: 0px;
}
.function
{
    width: auto;
    background-color: white;
    height: auto;
    padding: 15px;
    position: relative;
    right: 25px;
    top: 25px;
    webkit-box-shadow: 3px 2px 5px 0px #3498db;
    -moz-box-shadow: 3px 2px 5px 0px #3498db;
    box-shadow: 3px 2px 5px 0px #3498db;
    
}
.funkce
{
    float: left;
    margin: 0px;
    width: 170px;
    height: 100%;
    background-color: white;
}
.sideclick{
    min-width:15px;
    height:100%;
    float:left;
    background:#3498db;
    cursor:pointer;
}
.funkce ul
{
    position: relative;
    top: 25px;
    list-style: none;
    margin: 0px auto;
}
.login-form
{
    margin: 200px 20px 100px 20px;
}

.login-form input
{
    outline: 0;
    border: solid 2px #ccc;
    width: 200px;
    padding: 5px;
    transition: 0.2s;
}

.login-form input:last-of-type
{
    border-radius: 5px;
    margin-top: 10px;
}
.login-form input:first-of-type
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}
.login-form input:nth-of-type(2)
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-form input:last-of-type:hover
{
    border-color: darkgrey;
    transition: 0.2s;
    transform: scale(1.05,1.05);
}
.login-form h1
{
    color: grey;
}



.back-to-page a
{
    padding: 5px 15px;
    color: white;
    font-size: 32px;
    background-color: lightgrey;
    position: absolute;
    border-bottom-right-radius: 5px;
    z-index: 999;
    cursor: pointer;
    top:0;
    transition: 0.2s;
    left:0;
}
.back-to-page a:hover
{
    background-color: grey;
    border: 0;
    text-decoration: none;
    transition: 0.2s;
}
.admin_list_pages{
    /*float:left;*/
    /*position:relative;*/
    margin-left:300px;
    padding:10px;
}
.admin_list_pages * {
    cursor:pointer;
}
.admin_list_pages input{
    cursor:default;
}
.admin_list_pages input[type="text"]{
    cursor:text;
}

.admin_list_pages thead tr td{
    font-weight: bold;
    cursor:default;
}
.admin_list_pages tr{
    font-size:16px;
}
.admin_list_pages td{
    min-width:25px;
}
.admin_side_menu{
    position:fixed;
    left:0;
    top:0;
}
.td_id{
    min-width:30px;
}
.td_title{
    min-width:200px !important;
}
.td_address{
    min-width:200px !important;
}
.td_html{
    width:200px;
}
input{
    text-align:center;
}
.aktuality{
    border:0;
}
.aktuality *
{
    font-size: 14px;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-style:normal;
}
.aktuality_title a, .aktuality_title
{
    font-size: 16px;
    margin: 4px 0;
}
.small_aktuality
{
    min-height:230px;
    width:29%;
    margin:10px 2% 0 2%;
}
.aktuality pre{
    background-color:inherit;
}
.admin_list_pages_edit{
    color:#197a92;
    font-weight: bold;
    display:none;
}
tbody tr:hover .admin_list_pages_edit{
    display:inherit;
}
tbody tr:active .admin_list_pages_edit{
    display:none;
}
/*
li:hover ul li:hover .admin_list_pages_edit{
    display:inline;
} 
li:hover .admin_list_pages_edit{
    display:inline;
} 
li:hover ul .admin_list_pages_edit{
    display:none;
}
li:hover * .admin_list_pages_edit{
    display:inline;
}*/