html, body
{
    padding:0;
    margin:0;
    
}
body
{
    background-color:#cccccc;
}
.n-tittle
{
    margin-left: 50px;
}
.tittle
{
    margin-left: 75px;
}
header
{
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    top:0;
    left:calc(50% - 500px);

    width: 1000px;
    height:160px;
    
    background-color:white;
    border: solid 10px #3498db;
}
header.shrink{
    left:0;
    width:100%;
    height:100px;
}
header.shrink .burt{
    
    width:80px;
    height:auto;
}
header.shrink .nadpis{
    display:none;
}
.burt
{    
    /*display:none;*/
    position: relative;
    top: 15px;
    left: 15px;
    float:left;
    width:150px;
    height:auto;
    max-width:150px;
    max-height: 150px;
    display:inline;
}
.nadpis
{
    float:left;
    width:750px;
}
.header_nav
{
    width:750px;
    height:100px;
    display:inline-block;
    padding:15px;
    
    
}
.footer_nav
{
    width:750px;
    /*height:150px;*/
    display:inline-block;
    padding:20px;
    
    
}
.header_nav ul
{
    float:left;
    padding:0;
    margin-top:10px;
    list-style-type: none;
    
}
.footer_nav ul
{
    float:left;
    padding:0;
    margin-top:30px;
    list-style-type: none;
    
}
.header_nav ul li
{
    display:inline;
    font-size:18px;
    
}
main
{
    width:1000px;
    margin:auto;
    /*padding:15px;*/
    margin-top:160px;
    
    border:solid 10px #3498db;
    border-top: 0px;
        background: white;
}
footer
{
    background-color: white;
    width:1000px;
    height: 100px;
    margin:auto;
    border: solid 10px #3498db;
    border-top: 0px;
    
}
.footer-photo
{
    position: relative;
    top: 10px;
    left: 10px;
    float:left;
    height:auto;
    width:25px;
    margin-right: 50px;
    height: 25px;
    display:inline;
}